header {
    height: 120px;
    background-image: linear-gradient(0,rgb(92, 158, 228),rgb(85, 130, 212));    
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .list {
    padding: 0;
    margin-top: 4px;
    list-style: none;
}

nav .list__item {
    position: relative;
    display: inline-block;
    margin: 0 8px;
}

nav .list__item,
nav .list__item-link,
nav .list__item-icon {
    color: var(--white-color);
    
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
}

nav .list__item-icon {
    margin-left: 3px;
}

nav .list__item--strong {
    font-weight: 600;
}

nav .list__item--vertical::after {
    content: "";

    position: absolute;
    right: -9px;
    top: 50%;

    display: block;
    width: 0.7px;
    height: 1.6rem;

    background-color: var(--white-color);
    
    transform: translateY(-50%);
}

nav .list__item-link:hover,
nav .list__item-icon:hover {
    color: var(--blur-white-color);
    cursor: pointer;
}


/* header app links */
nav .apps {
    position: absolute;
    top: 118%;
    left: 0;

    display: none;
    width: 140px;
    border-radius: 2px;
}

nav .list__item--show-apps:hover .apps {
    display: block;
}

.apps__item-qr img {
    width: 100%;
    border-radius:2px;
}

.apps__item {
    display: flex;
    justify-content: space-around;

    height: 32px;
}

.apps__item span {
    width: 50%;
}

.apps__item img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

/* Notification */
nav .notify {
    position: absolute;
    top: 118%;
    right: 0;

    display: block;
    width: 400px;

    background-color: #fff;
}

nav .notify__header h3 {
    padding: 5px;
    color: rgb(160, 169, 190);
    font-weight: 500;
    line-height: 1.6rem;
}

nav .notify__list {
    list-style: none;
    padding: 0;
}


nav .notify__item-link {
    display: flex;
}

nav .notify__item-link-description {
    color: var(--text-color);
    padding: 0 10px;
}

nav .notify__item-link-image {
    width: 48px;
    height: 48px; 
    background-size: cover;
}